@import '../default_style';

.home_hero {
  margin: 12vh 0;
}

.header {
  padding: 0;
  margin-bottom: 0.5rem;
}

.subheader {
  font-family: $font-header;
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  color: $c-raisin-black;
}

.summary {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.text {
  font-family: $font-body;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0.3rem;
}

.line {
  display: inline-block;
  width: 75vw;
  max-width: 1200px;
  margin: auto;
  margin-top: 3rem;
  border: 1px solid $c-raisin-black;
  border-radius: 10px;
}

.feature_text {
  font-family: $font-body;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: center;
  width: 60vw;
  max-width: 700px;
  margin: auto;
  margin-top: 4rem;
  color: $c-text-1;
}

.feature_text span {
  font-weight: bold;
  color: $c-yellow-orange;
}