$accent_1: #ac1d00;
$accent_2: #e26200;
$accent_3: #fc9600;
$dark_1: #0f0f0f;
$dark_2: #20202f;
$dark_3: #7d7d7d;
$light_1: #ececec;
$light_2: #ffffff;

$font_header: 'Roboto', 'sans-serif';
$font_weight_h1: 600;
$font_weight_h2: 300;
$font_weight_h3: 300;
$font_weight_h4: 500;
$font_weight_h5: 400;
$font_weight_h6: 400;

$font_body: 'Titillium Web', 'sans-serif';
$font_body_weight: 300;