/* SCSS HEX */
$c-rufous: #ac1d00ff;
$c-spanish-orange: #e26200ff;
$c-yellow-orange: #fc9600ff;
$c-smoky-black: #0f0f0fff;
$c-raisin-black: #20202fff;
$c-space-cadet:#363653;
$c-gray-web: #7d7d7dff;
$c-cultured: #ecececff;
$c-white: #ffffffff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ac1d00ff, #e26200ff, #fc9600ff, #0f0f0fff, #20202fff, #7d7d7dff, #ecececff, #ffffffff);
$gradient-right: linear-gradient(90deg, #ac1d00ff, #e26200ff, #fc9600ff, #0f0f0fff, #20202fff, #7d7d7dff, #ecececff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #ac1d00ff, #e26200ff, #fc9600ff, #0f0f0fff, #20202fff, #7d7d7dff, #ecececff, #ffffffff);
$gradient-left: linear-gradient(270deg, #ac1d00ff, #e26200ff, #fc9600ff, #0f0f0fff, #20202fff, #7d7d7dff, #ecececff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #ac1d00ff, #e26200ff, #fc9600ff, #0f0f0fff, #20202fff, #7d7d7dff, #ecececff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #ac1d00ff, #e26200ff, #fc9600ff, #0f0f0fff, #20202fff, #7d7d7dff, #ecececff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #ac1d00ff, #e26200ff, #fc9600ff, #0f0f0fff, #20202fff, #7d7d7dff, #ecececff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #ac1d00ff, #e26200ff, #fc9600ff, #0f0f0fff, #20202fff, #7d7d7dff, #ecececff, #ffffffff);
$gradient-radial: radial-gradient(#ac1d00ff, #e26200ff, #fc9600ff, #0f0f0fff, #20202fff, #7d7d7dff, #ecececff, #ffffffff);

$font-header: 'Roboto', 'sans-serif';
$font-weight-h1: 600;
$font-weight-h2: 300;
$font-weight-h3: 300;
$font-weight-h4: 500;
$font-weight-h5: 400;
$font-weight-h6: 400;

$font-body: 'Titillium Web', 'sans-serif';
$font-body-weight: 300;

/* Standard Style Variables */
$c-main-1: $c-white;
$c-main-2: $c-cultured;
$c-accent-1: $c-spanish-orange;
$c-accent-2: $c-yellow-orange;
$c-text-1: $c-space-cadet;
$c-text-2: $c-cultured;
