.flex {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.image_col {
  flex-basis: 1;
  min-width: 300px;
}

.text_col {
  flex-basis: 3;
}

.profile {
  border-radius: 100%;
}

.text {
  text-align: left;
}

.title {
  text-align: left;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .text {
    text-align: center;
  }
  
  .title {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}