.flex {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.image_col {
  flex-basis: 1;
}

.text_col {
  flex-basis: 3;
}

.profile {
  border-radius: 100%;
}

.text {
  text-align: left;
}

.title {
  text-align: left;
  margin-bottom: 1rem;
}