@import "default_style";

.margin{
  margin-bottom: 1rem;
}

.email {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: $c-white;
  background: linear-gradient(87.43deg, $c-yellow-orange 0%,
  $c-spanish-orange 100%);
  width: 25rem;
  margin: auto;
}