@import "default_style";

.margin{
  margin-top: 6rem;
  margin-bottom: 6.5rem;
}

.title {
  margin-bottom: 1.0rem;
}

.text {
  max-width: 20rem;
  text-align: center;
  margin: auto;
  margin-bottom: 1.8rem;
}

.email {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: $c-white;
  background: linear-gradient(-87.43deg, $c-yellow-orange 0%,
    $c-spanish-orange 100%);
  width: 25rem;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 5px;
}

.email_link {
  text-decoration: none;
}

@media (max-width: 500px) {
  .email {
    font-size: 32px;
    width: 20rem;
    margin: auto;
  }
}