@import "default_style";

.divider {
  border: 2px solid $c-yellow-orange;
  border-radius: 10px;
  margin: 0.5rem 0;
  background-color: $c-yellow-orange;
}

.link {
  flex-basis: 28vw;
  max-width: 20rem;
  align-items: stretch;
  text-decoration: none;
}

@media (max-width: 500px) {
  .link {
    min-width: 300px;
  }
}

.card {
  background-color: $c-spanish-orange;
  padding: 0.7rem;
  border-radius: 1.2rem;
  height: 100%;
}

.card img {
  object-fit: cover;
  margin: auto;
}

.title {
  color: $c-white;
  font-family: $font-body;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
}

.text {
  color: $c-white;
  font-family: $font-body;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.image_bg {
  background-color: $c-white;
  border-radius: 1.2rem;
}