@import "default_style";

.divider {
  border: 2px solid $c-yellow-orange;
  border-radius: 10px;
  margin: 0.5rem 0;
}

.card {
  background-color: $c-spanish-orange;
  padding: 0.7rem;
  border-radius: 1.2rem;
}

.title {
  color: $c-white;
  font-family: $font-body;
  font-weight: 700;
}

.text {
  color: $c-white;
  font-family: $font-body;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.image_bg {
  background-color: $c-white;
  border-radius: 1.2rem;
}