@import "default_style";

.footer {
  background-color: $c-accent-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: #FFFFFF;
  border-radius: 100px;
  margin: 10px 10px;
  width: 55px;
  height: 55px;
}

.copy_right {
  text-align: center;
  font-family: $font-body;
  color: $c-white;
}

.item {
  flex-basis: 17em;
  align-items: stretch;
}

.info {
  margin: 0.6rem;
  color: $c-white;
  text-align: end;
  font-size: 0.8rem;
}

@media (max-width: 500px) {
  .info {
    font-size: 0.5rem;
  }
}