@import 'default_style';

h1 {
  font-family: $font_header;
  font-weight: $font_weight_h1;
  font-size: 4rem;
}

h2 {
  font-family: $font_header;
  font-weight: $font_weight_h2;
  font-size: 2.7rem;
}

h3 {
  font-family: $font_header;
  font-weight: $font_weight_h3;
}

h4 {
  font-family: $font_header;
  font-weight: $font_weight_h4;
}

h5 {
  font-family: $font_header;
  font-weight: $font_weight_h5;
}

h6 {
  font-family: $font_header;
  font-weight: $font_weight_h6;
}

p {
  font-family: $font_body;
  font-weight: $font_body_weight;
}

a {

  font-family: $font_body;
  font-weight: $font_body_weight + 300;
}

body {
  font-family: $font-body;
  font-weight: 400;
  font-style: normal;
  background-color: $c-main-1;
  color: $c-text-1;
}

.center_h2 {
  text-align: center;
}

.feature_text {
  font-family: $font-body;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  width: 60vw;
  max-width: 700px;
  margin: auto;
  color: $c-text-1;
}

.feature_text span {
  font-weight: bold;
  color: $c-yellow-orange;
}

.gradient_bg {
  color: $c-white;
  background: linear-gradient(-87.43deg, $c-yellow-orange 0%,
    $c-spanish-orange 100%);
  text-decoration: none;
  border-radius: 4px;
  padding: 0 3px;
}

.gradient_bg:hover {
  color: $c-yellow-orange;
  background: $c-white;
}
