@import 'default_style';

.navigation {
  background-color: $c-accent-1;
}

.text {
  font-family: $font-header;
  font-weight: 700;
  font-size: large;
}

.socials {
  margin-left: 0.5rem;
}

.socials a {
  margin: 0 0.5rem;
}

@media (max-width: 500px) {
  .socials{
    margin: 1rem 0;
  }
}