@import 'default_style';

.navigation {
  background-color: $c-accent-1;
}

.text {
  font: $font-header;
  font-weight: $font-weight-h1;
}

.logo {
  background: #FFFFFF;
  border-radius: 100px;
  margin: 10px 10px;
  width: 55px;
  height: 55px;
}

.socials {
  margin-left: 0.5rem;
}