@import "default_style";

$post-max-width: 60rem;
$text-max-width: 45rem;
$element-max-width: 40rem;
$title-margin-bottom: 2rem;
$title-margin-top: 2rem;
$standard-margin: 0.7rem;

.posts h1 {
  text-align: center;
  max-width: $text-max-width;
  margin: auto;
  margin-bottom: $title-margin-bottom;
}

.posts h2 {
  text-align: center;
  max-width: $text-max-width;
  margin: auto;
  margin-bottom: $title-margin-bottom;
  margin-top: $title-margin-top;
}

.posts {
  margin: auto;
  max-width: $post-max-width;
  padding: 0 2rem;
}

.posts p {
  text-align: justify;
  margin: $standard-margin auto;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: $text-max-width;
  line-height: 2.1rem;
}

.posts img {
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  object-fit: contain;
}

.posts li {
  text-align: justify;
  font-weight: 600;
  margin: 0.4rem;
  font-size: 1.1rem;
  color: $c-white;
}

.posts ul {
  padding: 2rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: $element-max-width;
  background-color: $c-main-2;
  background: linear-gradient(-87.43deg, $c-yellow-orange 0%,
    $c-spanish-orange 100%);
  border-radius: 1rem;
  list-style-type: circle;
}

.posts table {
  margin: $standard-margin auto;
}

.posts th {
  background: $c-spanish-orange; 
  color: $c-white;
  text-align: center;
  font-weight: 700;
}

.posts td {
  padding: 0.4rem 1rem;
}

.posts tr {
  background: $c-main-1;
}

.posts tr:nth-child(even) {
  background: $c-main-2;
}

.posts tr:hover {
  background: $c-spanish-orange;
  color: $c-white;
}

.posts a {
  border-radius: 4px;
  padding: 0 3px;
  color: $c-yellow-orange;
}

.posts a:hover {
  color: $c-spanish-orange;
}

.post_hero {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.posts pre {
  border: 1px solid $c-raisin-black;
  border-radius: 5px;
  background: $c-cultured;
  max-width: $element-max-width;
  margin: $standard-margin auto;
  padding: 0.3rem;
}

.posts blockquote p {
  max-width: $element-max-width;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  font-style: italic;
  color: $c-white;
  background: linear-gradient(-87.43deg, $c-yellow-orange 0%,
    $c-spanish-orange 100%);;
  margin: $standard-margin auto;
}

.posts blockquote p::before {
  content: open-quote; 
}

.posts blockquote p::after {
  content: close-quote; 
}

.metadata {
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 1rem;
}

.metabg {
  background: linear-gradient(-87.43deg, $c-yellow-orange 0%,
    $c-spanish-orange 100%);
  color: $c-white;
  margin-top: 0px;
  margin-bottom: 2rem;
}