.swirl {
  background-image: url('../public/bg-swirl.svg');
  height: 15rem;
  background-size: cover;
  margin-top: -6rem;
}

.invswirl {
  background-image: url('../public/bg-swirl.svg');
  background-size: cover;
  transform: rotate(180deg);
  height: 15rem;
  margin-bottom: -6rem;
}