.swirl {
  background-image: url('../public/bg-swirl.svg');
  padding-top: 15%;
  background-size: cover;
  margin-bottom: -2%;
}

.invswirl {
  background-image: url('../public/bg-swirl.svg');
  padding-bottom: 15%;
  background-size: cover;
  transform: rotate(180deg);
  margin-top: -2%;
}